.App {
  text-align: center;
}

img {
  width: 400px;
}

.main {
  margin: 2rem;
  border: 2px solid burlywood;
}

.sub {
  border: 3px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase {
  transition: transform 100ms ease-in;
}

.showcase:hover {
  transform: scale(1.08);
}

.sub img {
  border: 3px solid green;
  margin: 1rem;
}
